.carts{
    background-color: rgba(255, 153, 0, 0.3);
    padding: 15px;
}
.carts p{
    font-size: 16px;
    font-weight: 400;
    color: rgba(42, 65, 79, 1);
}
.Order{
    text-align: center;
    font-size: 25px;
    color: rgba(28, 43, 53, 1);
    font-weight: 400;
}
.gand{
    columns: rgba(14, 22, 26, 1);
    font-size: 21px;
    font-weight: 400;
}