.header{
    background-color: rgba(28, 43, 53, 1);
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}
.menu a{
    text-decoration: none;
    color: white;
    margin-left: 30px;

}
.menu a:hover{
   color: orange;
}